{% extends "templates/app.twig" %}
{% block naslov %}
<div class="row m-2">
    <div class="col-lg-10 offset-1">
        <h2><i class="fas fa-archive text-warning"></i> Архивирање/активирање документа <span class="text-secondary">{{ dokument.naslov }}</span></h2>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-lg-10 offset-1">
        <div class="card border-dark mb-3">
            <div class="card-header">
                <h4>Врста документа: {{ dokument.vrsta.naziv }}</h4>
                {% if dokument.arhiva %}
                    <p class="text-warning">Документ је архивиран: {{ dokument.arhiva|date('d.m.Y') }}</p>
                {% endif %}
            </div>
            <div class="card-body text-dark">
                <p class="text-muted">Опис документа: {{ dokument.opis }}</p>
                <form id="dokument-forma" action="{{ path_for('dokument.arhiviranje.post') }}" method="POST" data-parsley-validate>
                    {{ csrf|raw }}
                    <input type="hidden" id="idIzmena" name="idIzmena" value="{{ dokument.id }}" readonly>
                    <div class="row justify-content-end" style="margin-top: 30px; padding: 10px;">
                        <div class="form-group">
                            {% if dokument.arhiva %}
                            <button type="submit" class="btn btn-primary" title="Постави линк">
                                <i class="fas fa-box-open"></i>&emsp;Активирај
                            </button>
                            {% else %}
                            <button type="submit" class="btn btn-primary" title="Постави линк">
                                <i class="fas fa-archive"></i>&emsp;Архивирај
                            </button>
                            {% endif %}
                            <a href="{{ path_for('dokumenti.lista') }}" class="btn btn-secondary"><i class="fas fa-ban"></i> &emsp;Откажи</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock naslov %}

{% block skripta %}
<script src="{{ base_url() }}/js/parsley.js"></script>
<script src="{{ base_url() }}/js/parsley_sr.js"></script>
<script>
$( document ).ready(function() {
        var n = "{{nivo}}";
        var i;
        for (i = 2; i < n+1; i++) {
           $('.level_'+i).each(
                function(){
                    $(this).text("-".repeat(i*3)+" "+$(this).text());
                }
           );
        };
});
</script>
{% endblock skripta %}
