{% extends "templates/app.twig" %}
{% block stil %}
{% endblock stil %}

{% block naslov %}
<div class="row">
	<div class="col">
		<h1><i class="fas fa-file-signature text-secondary"></i> Додавање објаве</h1>
	</div>
</div>
<hr>

<form action="{{ path_for('autor.objave.dodavanje') }}" method="POST" class="form needs-validation mb-3" id="forma"
	novalidate>
	{{ csrf | raw }}
	<div class="form-row">
		<div class="form-group col">
			<label for="naslov">
				<h3>Наслов</h3>
			</label>
			<input type="text" name="naslov" id="naslov" autocomplete="off"
				class="form-control form-control-lg{{ errors.naslov[0] ? ' is-invalid' : '' }}"
				value="{{ old.naslov ? : '' }}" maxlength="255" required autofocus>
			<div class="valid-feedback">Исправно попуњено</div>
			<div class="invalid-feedback">{{ errors.naslov[0] ? : 'Објава мора да има наслов' }}</div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col">
			<label for="rezime">
				<h3>Резиме</h3>
			</label>
			<textarea name="rezime" id="rezime" rows="3" class="form-control{{ errors.rezime[0] ? ' is-invalid' : '' }}"
				maxlength="255" required>{{ old.rezime ? : '' }}</textarea>
			<div class="valid-feedback">Исправно попуњено</div>
			<div class="invalid-feedback">{{ errors.rezime[0] ? : 'Објава мора да има резиме' }}</div>
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col">
			<label for="clanak">
				<h3>Чланак</h3>
			</label>
			<textarea name="clanak" id="clanak" class="form-control{{ errors.clanak[0] ? ' is-invalid' : '' }}"
				required>{{ old.clanak ? : '' }}</textarea>
			<div class="valid-feedback">Исправно попуњено</div>
			<div class="invalid-feedback">{{ errors.clanak[0] ? : 'Објава мора да има неки садржај' }}</div>
		</div>
	</div>
	<div class="form-row mt-2">
		<div class="form-group col-lg-2">
			<label class="mt-1">
				<input class="form-check-inline" type="checkbox" name="objavljen" id="objavljen"> Објављен
			</label>
		</div>
		<div class="form-group form-inline col-lg-7">
			<label for="kategorija_id" class="mr-3">Категорија</label>
			<select name="kategorija_id" id="kategorija_id"
				class="custom-select {{ errors.kategorija_id[0] ? ' is-invalid' : '' }}" required>
				{% for kat in kategorije %}
				<option value="{{ kat.id }}" {{old.kategorija_id == kat.id ? ' selected' : ''}}>{{ kat.naziv }}</option>
				{% endfor %}
			</select>
			<div class="valid-feedback">Исправно попуњено</div>
			<div class="invalid-feedback">{{ errors.kategorija_id[0] ? : 'Објава мора да има категорију' }}</div>
		</div>
		<div class="form-group col-3 text-right">
			<button type="submit" id="dugme-submit" class="btn btn-primary" title="Dodaj novi ugovor"><i
					class="fas fa-save"></i> Сними објаву</button>
			<a href="{{ path_for('autor.objave.lista') }}" class="btn btn-secondary">
				<i class="fas fa-ban"></i> Одустани</a>
		</div>
	</div>
</form>

{% endblock naslov %}
{% block sadrzaj %}
{% endblock sadrzaj %}
{% block traka %}
{% endblock traka %}
{% block skripta %}
<script src="{{ base_url() }}/js/tinymce/tinymce.min.js"></script>
<script>
	tinymce.init({
		selector: '#clanak',
		plugins: "lists hr wordcount",
		menubar: "format edit",
		toolbar: "removeformat | styleselect | bold italic | alignleft aligncenter alignright | bullist numlist | outdent indent | hr | wordcount",
		max_height: 800,
		min_height: 500,
		contextmenu: false,
		language: 'sr',
		default_link_target: '_blank',
		// file_picker_types: 'file image',
		// image_advtab: true,
		// image_uploadtab: true,
		// images_upload_url: 'pub/upload/tiny'
	});
	(function () {
		"use strict";
		window.addEventListener("load", function () {
			var forms = document.getElementsByClassName("needs-validation");
			var validation = Array.prototype.filter.call(forms, function (form) {
				form.addEventListener("submit", function (event) {
					if (form.checkValidity() === false) {
						event.preventDefault();
						event.stopPropagation();
					}
					form.classList.add("was-validated");
				}, false
				);
			});
		}, false
		);
	})();
</script>
{% endblock skripta %}
