{% extends "templates/app.twig" %}
{% block stil %}
{% endblock stil %}
{% block naslov %}
<div class="row mt-md-4 d-none d-sm-flex">
	<div class="col-md-8">
		<h1>
			<i class="fas fa-clipboard text-secondary"></i> Објаве
			<small><em class="text-success">{{ auth.user.imePrezime }}</em></small>
		</h1>
	</div>
	<div class="col-md-4 text-right mt-2">
		<a href="{{ path_for('autor.objave.dodavanje') }}" class="btn btn-primary"><i class="fas fa-plus"></i> Додај објаву</a>
	</div>
</div>
<hr>
<div class="table-responsive">
	<table class="table mobilni">
		<thead class="thead-dark">
			<tr>
				<th class="w-5">#</th>
				<th class="w-25">Наслов</th>
				<th class="w-35">Резиме</th>
				<th class="w-10">Објављен</th>
				<th class="w-15">Категорија</th>
				<th class="w-10 text-right"><i class="fas fa-cogs"></i></th>
			</tr>
		</thead>
		<tbody>
			{% for c in clanci.data %}
			<tr>
				<th class="text-danger">{{ c.id }}</th>
				<td>{{ c.naslov }}</td>
				<td>{{ c.rezime }}</td>
				<td>
					chk
					{{ c.published_at | date() }}
				</td>
				<td>{{ c.kategorija.naziv }}</td>
				<td class="text-right">
					<button class="btn btn-primary">E</button>
					<button class="btn btn-danger">D</button>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<div class="row mobilni">
	<nav class="col">
		<ul class="pagination pagination-sm">
			{% for button in clanci.links.buttons %}
			<li class="page-item{{ button.current ? ' active' : '' }}">
				<a class="page-link" href="{{ button.url }}">{{ button.page }}</a>
			</li>
			{% endfor %}
		</ul>
	</nav>
	<p class="col justify-content-end text-right text-info"><strong>
			Prikazani redovi od
			<em>{{ clanci.links.row_from }}</em> do
			<em>{{ clanci.links.row_to }}</em> od ukupno
			<em>{{ clanci.links.total_rows }}</em>
		</strong>
	</p>
</div>
{% endblock naslov %}
{% block skripta %}
{% endblock skripta %}
