{% extends "templates/app.twig" %}
{% block naslov %}
<div class="row m-2">
    <div class="col-lg-10">
        <h1><i class="fas fa-users text-secondary"></i> Корисници апликације</h1>
    </div>
    <div class="col-lg-2 text-right">
        <div class="btn-group mt-4">
            <a class="btn btn-outline-secondary text-warning" onclick="window.history.back();" title="Повратак на претходну страну">
                <i class="fa fa-arrow-left"></i>
            </a>
            <a class="btn btn-outline-secondary text-warning" href="{{ path_for('admin.korisnik.get') }}" title="Додавање корисника">
                <i class="fas fa-plus"></i> Додај
            </a>
            <a class="btn btn-outline-secondary text-warning" href="{{ path_for('pocetna') }}" title="Повратак на почетну страну">
                <i class="fa fa-home"></i>
            </a>
        </div>
    </div>
</div>
<hr />
<table class="table" style="font-size: 0.875em;">
  <thead class="thead-dark">
    <tr>
      <th class="w-5">ID</th>
      <th class="w-10">Име и презиме</th>
      <th class="w-10">Електронска адреса</th>
      <th class="w-20">Категорије новости</th>
      <th class="w-20">Категорије документа</th>
      <th class="w-15">Корисничко име</th>
      <th class="w-10">Ниво права</th>
      <th class="w-10 text-right"><i class="fas fa-cogs text-warning"></i></th>
    </tr>
  </thead>
  <tbody>
    {% for korisnik in data.data %}
    <tr>
      <td class="text-danger">{{ korisnik.id }}</td>
      <td>{{ korisnik.imePrezime }}</td>
      <td><a href="mailto:{{ korisnik.email }}">{{ korisnik.email }}</a></td>
      <td>
        <ul style="padding: 0; list-style-type: none;">
        {% for kat in korisnik.dozvoljeneKategorije() %}
          <li>{{kat.naziv}}</li>
        {% endfor %}
        </ul>
      </td>
      <td>
        <ul style="padding: 0; list-style-type: none;">
        {% for katdok in korisnik.dozvoljeneKatDok() %}
          <li>{{katdok.naziv}}</li>
        {% endfor %}
        </ul>
      </td>
      <td>{{ korisnik.korisnicko_ime }}</td>
      <td>
        {% if korisnik.nivo == 0 %}
        Администратор
        {% else %}
        Аутор
        {% endif %}
      </td>
      <td class="text-right">
        {% if korisnik.nivo == 0 %}
        {% if auth.user.nivo == 1000 %}
        <div class="btn-group btn-group-sm">
          <a class="btn btn-warning btn-sm" href="{{ path_for('admin.korisnik.izmena.get', { id: korisnik.id }) }}"
            title="Измена података о кориснику">
            <i class="fas fa-edit"></i>
          </a>
          <button class="btn btn-danger btn-sm otvori-brisanje" data-toggle="modal" data-target="#brisanjeModal"
            value="{{ korisnik.id }}" title="Брисање одабраног корисника">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
        {% endif %}
        {% else %}
        <div class="btn-group btn-group-sm">
          <a class="btn btn-warning btn-sm" href="{{ path_for('admin.korisnik.izmena.get', { id: korisnik.id }) }}"
            title="Измена података о кориснику">
            <i class="fas fa-edit"></i>
          </a>
          <button class="btn btn-danger btn-sm otvori-brisanje" data-toggle="modal" data-target="#brisanjeModal"
            value="{{ korisnik.id }}" title="Брисање одабраног корисника">
            <i class="fas fa-trash"></i>
          </button>
        </div>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="row mobilni">
  <nav class="col">
    <ul class="pagination pagination-sm">
      {% for button in data.links.buttons %}
      <li class="page-item{{ button.current ? ' active' : '' }}">
        <a class="page-link" href="{{ button.url }}">{{ button.page }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  <p class="col justify-content-end text-right text-info">
    <strong>
      Prikazani redovi od
      <em>{{ data.links.row_from }}</em> do <em>{{ data.links.row_to }}</em> od
      ukupno
      <em>{{ data.links.total_rows }}</em>
    </strong>
  </p>
</div>

{# Modal za brisanje #}
<div id="brisanjeModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title text-danger">Упозорење!</h2>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Да ли желите трајно да обришете корисника?</h4>
        <p class="text-danger lead">* Ова акција је неповратна!</p>
        <form id="brisanje-forma" action="{{ path_for('admin.korisnik.brisanje') }}" method="POST">
          {{ csrf | raw }}
          <input type="hidden" id="idBrisanje" name="idBrisanje" />
      </div>
      <div class="modal-footer">
        <div class="form-group">
          <button id="btn-brisanje-obrisi" type="submit" class="btn btn-danger">
            <i class="fas fa-trash"></i> Обриши
          </button>
          <a class="btn btn-secondary" data-dismiss="modal">
            <i class="fas fa-ban"></i> Откажи
          </a>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
{# Kraj modala za brisanje #}
{% endblock naslov %}

{% block skripta %}
<script>
  $(document).ready(function () {
    $(document).on("click", ".otvori-brisanje", function () {
      var id = $(this).val();
      $("#idBrisanje").val(id);
    });
  });
</script>
{% endblock skripta %}
