{% extends "templates/app.twig" %}
{% block naslov %}
<div class="row m-2">
    <div class="col-lg-10">
        <h1 class="page-header">
            <img src="{{ base_url() }}/img/dok.png" alt="Документа" style="max-width: 64px;
  width:100%;"> &emsp;Документа
        </h1>
    </div>
    <div class="col-lg-2 text-right">
        <div class="btn-group mt-4">
            <a class="btn btn-primary" onclick="window.history.back();" title="Повратак на претходну страну">
                <i class="fa fa-arrow-left"></i>
            </a>
            <a class="btn btn-primary" href="{{ path_for('pocetna') }}" title="Повратак на почетну страну">
                <i class="fa fa-home"></i>
            </a>
        </div>
    </div>
</div>
<hr>
{% endblock naslov %}
{% block sadrzaj %}
<div class="row mb-5 mt-5">
    <div class="col col-lg-10 offset-lg-1">
        {% if data %}
        <em class="text-warning">[Филтрирани подаци]</em>&emsp;<i class="fas fa-filter text-warning"></i>
        {% endif %}
    </div>
</div>
{% for dok in dokumenti.data %}
<div class="row mb-5 mt-5">
    <div class="col col-lg-10 offset-lg-1">
        <h3>{{ dok.naslov }}</h3>
        <p class="lead">{{ dok.rezime }}</p>
        <blockquote class="blockquote text-right">
            <p class="mb-0 text-secondary"><i class="fas fa-calendar-alt text-warning"></i> {{ dok.published_at|date('d.m.Y') }}&emsp;<i class="fas fa-user text-warning"></i> {{ dok.korisnik.imePrezime() }}</p>
            <footer class="blockquote-footer">Врста: <cite title="Vrsta">{{ dok.vrsta }}</cite></footer>
        </blockquote>
        <hr class="my-4">
        <small>&emsp;&emsp;&emsp;{{ dok.opis }}</small>
        <div class="col text-right">
                <a href="{{ dok.link }}" class="btn btn-outline-primary btn-sm" title="Преглед" target="_blank">
                    Преглед <i class="fas fa-eye"></i>
                </a>
        </div>
    </div>
</div>
<hr style="border-top: dotted 1px blue;">
{% endfor %}
<div class="row  mt-5">
    <nav class="col col-lg-5 offset-lg-1">
        <ul class="pagination pagination-sm">
            {% for button in dokumenti.links.buttons %}
            <li class="page-item{{ button.current ? ' active' : '' }}">
                <a class="page-link" href="{{ button.url }}">{{ button.page }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    <p class="col col-lg-5 justify-content-end text-right text-primary">
        Prikazani redovi od
        <em>{{ dokumenti.links.row_from }}</em> do
        <em>{{ dokumenti.links.row_to }}</em> od ukupno
        <em>{{ dokumenti.links.total_rows }}</em>
    </p>
</div>
{% endblock sadrzaj %}

{% block traka %}
<div class="row mt-5 mb-4">
    <div class="col col-lg-12 pl-5">
        <form class="form" action="{{ path_for('clanci.pretraga')}}" method="POST">
            {{ csrf|raw }}
            <div class="row">
                <div class="col col-lg-10">
                    <input type="text" name="upit" id="upit" class="form-control" autocomplete="off" placeholder="...појам за претрагу" required>
                </div>
                <div class="col col-lg-2">
                    <button type="submit" class="btn btn-default btn-sm">
                        <i class="fas fa-search text-primary"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col col-lg-12 pl-5">
        <h4 class="font-italic text-secondary">Врсте</h4>
        <br>
        <div class="list-group list-group-flush">
            {% for vrst in vrste %}
            <li class="list-group-item d-flex justify-content-between list-group-item-light align-items-center py-2">
                <a href="{{ path_for('clanci.tabela.kategorije', { id: kat.id }) }}" class="text-reset">{{ vrst }}</a>
                <span class="badge badge-pill badge-dark">{{ d.broj_vrste(vrst) }}</span>
            </li>
            {% endfor %}
        </div>
    </div>
</div>

<div class="row mt-5 mb-5">
    <div class="col col-lg-12 pl-5">
        <h4 class="font-italic text-secondary">Архива</h4>
        <br>
        <div class="list-group list-group-flush">
            {% for arh in arhiva %}
            <li class="list-group-item d-flex justify-content-between list-group-item-light align-items-center py-2">
                <a href="{{path_for('clanci.arhiva', { 'mm': arh.mm, 'yy': arh.godina})}}" class="text-reset">
                    {% if arh.mesec == 'January' %}
                    Јануар
                    {% elseif arh.mesec == 'February' %}
                    Фебруар
                    {% elseif arh.mesec == 'March' %}
                    Март
                    {% elseif arh.mesec == 'April' %}
                    Април
                    {% elseif arh.mesec == 'May' %}
                    Мај
                    {% elseif arh.mesec == 'June' %}
                    Јун
                    {% elseif arh.mesec == 'July' %}
                    Јул
                    {% elseif arh.mesec == 'August' %}
                    Август
                    {% elseif arh.mesec == 'September' %}
                    Септембар
                    {% elseif arh.mesec == 'October' %}
                    Октобар
                    {% elseif arh.mesec == 'November' %}
                    Новембар
                    {% else %}
                    Децембар
                    {% endif %}, {{ arh.godina }}</a>
                <span class="badge badge-pill badge-dark">{{ arh.broj }}</span>
            </li>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock traka %}
{% block skripta %}
<script>
$(document).ready(function () {

});
</script>
{% endblock skripta %}