{% extends "templates/app.twig" %}
{% block naslov %}
<div class="row m-2">
    <div class="col-lg-10">
        <h1 id="top">
            <img src="{{ base_url() }}/img/dok.png" alt="Документа" style="max-width: 64px;
  width:100%;"> &emsp;Упутство за ауторе секције ДОКУМЕНТА градског портала
        </h1>
    </div>
    <div class="col-lg-2 text-right">
        <div class="btn-group mt-4">
            <a class="btn btn-outline-secondary text-warning" onclick="window.history.back();" title="Повратак на претходну страну">
                <i class="fa fa-arrow-left"></i>
            </a>
            <a class="btn btn-outline-secondary text-warning" href="{{ path_for('pocetna') }}" title="Повратак на почетну страну">
                <i class="fa fa-home"></i>
            </a>
        </div>
    </div>
</div>
<hr>
{% endblock naslov %}
{% block sadrzaj %}
<h5 class="text-danger mb-2">*Пре приступања било којој од наведених акција описаних у упутству корисник мора бити успешно пријављен на портал!</h5>
<hr>
<h3 id="otpremanje">Отпремање докумената, односно њихово објављивање</h3>
<p>
    Да би објавили/поставили неки од докумената на портал потребно је из менија одабрати ставку <code>Аутори докумената/Отпремање докумената</code> као што је то приказано на слици 1.
</p>
<figure class="figure">
    <img src="{{ base_url() }}/img/help/meni_otpremanje.png" alt="Meni - otpremanje dokumenta">
    <figcaption class="figure-caption">Слика 1. Отпремање документа</figcaption>
</figure>
<p class="text-warning">
    **Пре него што започнете само отпремање документа проверите да ли исти већ постоји у некој другој категорији претрагом и у том случају искористите могућност <a href="#link">Линковање/повезивање</a> већ постојећег документа за вашу категорију.
</p>
<p>
    Одабиром ове ставке менија аутори ће бити одведени на форму на којој ће моћи да додају податке који описују документ који желе да објаве као и да сам документ у одговарајућем формату сачувају, отпреме на сервер. Препоручени формати су Portable Document Format <code>PDF</code>, Microsoft WORD <code>DOC</code> и <code>DOCX</code> као и текстуални фајлови <code>TXT</code> максималне величине до 32MB.
</p>
<p>
    Форма која је приказана на слици 2. садржи следећа поља:
</p>
<ul>
    <li>Наслов документа</li>
    <li>Категорија документа</li>
    <li>Врста документа</li>
    <li>Опис / кратак садржај документа</li>
    <li>Изабери документ</li>
</ul>
<figure class="figure">
    <img src="{{ base_url() }}/img/help/forma_otpremanje.png" alt="Forma za Upload">
    <figcaption class="figure-caption">Слика 2. Форма за отпремање документа</figcaption>
</figure>
<p>
Потрудите се да што прецизније, детаљније попуните свако од поља како би корисницима портала било лакше да претрагом или филтрирањем дођу до вашег документа. Сваки од аутора је овлашћен за приступ односно рад са документима у одређеним унапред договореним категоријама. У случају да је потребно додатно гранање унутар категорије, приступ додатним категоријама или израда нових обратите се администратору портала. Такође, ако вам недостаје врста документа администратор је може додати за вас.
</p>
<p>
Само додавање документа је приказано на слици 3. Процес започиње кликом на дугме <code>Пронађи</code> након чега се отвара уобичајена форма за отварање документа. Одаберите жељени документ и кликните <code>Open/Otvori</code>. Потрудите се да име документа који објављујете буде кратко, по могућству латинично, да не садржи специјалне карактере осим <code>SPACE</code> и <code>_</code>.
</p>
<figure class="figure">
    <img src="{{ base_url() }}/img/help/otpremanje.png" alt="Upload">
    <figcaption class="figure-caption">Слика 3. Избор документа за UPLOAD</figcaption>
</figure>
<p>
У случају да је документ исправно изабран за објаву поље <code>Изабери документ</code> би сада требало да изгледа као на слици 4.
</p>
<figure class="figure">
    <img src="{{ base_url() }}/img/help/otpremi_spreman.png" alt="Spreman za Upload">
    <figcaption class="figure-caption">Слика 4. Исправно одабран документ за отпремање</figcaption>
</figure>
<p>
Последњи корак у отпремању документа је клик на дугме <code>Отпреми</code> приказано на слици 5. Након овога ваш документ ће се наћи на врху листе докумената као последњи објављени уз поруку "Докуменат је успешно сачуван.". У супротном контактирајте администратора портала.
</p>
<figure class="figure">
    <img src="{{ base_url() }}/img/help/otpremi.png" alt="Отпреми">
    <figcaption class="figure-caption">Слика 5. Дугме отпреми</figcaption>
</figure>
<hr>
<h3 id="izmena">Измена података документа</h3>
<p>
    Измени података се приступа са почетне листе докумената. Са десне стране, испод сваког од објављених докумената се налази линија алата као што је то приказано на слици 6. Дугме <code>Преглед</code> је доступно свима. <code>Линк</code> је доступан за све улоговане ауторе и на свим документима. Остали алати, између осталих и <code>Измена подата документа</code> су доступни ауторима само за категорије за које су задужени.
</p>
<figure class="figure">
    <img src="{{ base_url() }}/img/help/dokumenta_izmena.png" alt="Dokumenta - izmena">
    <figcaption class="figure-caption">Слика 6. Линија алата са дугметом измени</figcaption>
</figure>
<p>
    Након клика на дугме <code>Измена подата документа</code> аутори ће бити одведени на форму на којој ће моћи да измене податке о објављеном документу. Форма је приказана сликом 7. и садржи следећа поља:
</p>
<ul>
    <li>Наслов документа</li>
    <li>Категорија документа</li>
    <li>Врста документа</li>
    <li>Опис / кратак садржај документа</li>
</ul>
<figure class="figure">
    <img src="{{ base_url() }}/img/help/izmena_forma.png" alt="Dokumenta - forma izmena">
    <figcaption class="figure-caption">Слика 7. Форма за измену документа</figcaption>
</figure>
<p>
    У случају да аутор жели у потпуности да замени документ и све податке који га описују и категоризују потребно је урадити <a href="#brisanje">Брисање документа</a> и <a href="#otpremanje">Отпремање/објављивање документа</a> новог адекватног документа.
</p>
<p>
    Последњи корак у измени документа је клик на дугме <code>Сними</code> приказано на слици 8. Након овога ваш документ ће бити измењен уз поруку "Докуменат је успешно измењен.". У супротном контактирајте администратора портала.
</p>
<figure class="figure">
    <img src="{{ base_url() }}/img/help/snimi.png" alt="Snimi">
    <figcaption class="figure-caption">Слика 8. Дугме сними</figcaption>
</figure>
<hr>
<h3 id="link">Везивање документа за друге категорије/линковање</h3>
<p>
    Уколико на порталу већ постоји документ који по вашем мишљењу треба да се нађе и у некој од категорија за коју сте ви задужени можете искористити функционалност <code>Постављање линка за другу категорију</code> и да га на тај начин без класичног отпремања вежете за жељену категорију.
</p>
<p>
    Линковању/повезивању документа се приступа са почетне листе докумената. Са десне стране, испод сваког од објављених докумената се налази линија алата као што је то приказано на слици 9. Дугме <code>Преглед</code> је доступно свима. <code>Линковање/повезивање</code> је доступан за све улоговане ауторе и на свим документима.
</p>
<figure class="figure">
    <img src="{{ base_url() }}/img/help/dokumenta_link.png" alt="Dokumenta - link">
    <figcaption class="figure-caption">Слика 9. Линија алата са дугметом Линковање/повезивање</figcaption>
</figure>
<p>
    Након клика на дугме <code>Постављање линка за другу категорију</code> аутори ће бити одведени на форму на којој ће моћи да постојећи документ веже за додатну категорију. Форма је приказана на слици 10. и садржи само падајућу листу са категоријама за које је аутор задужен, односно за које може да линкује документ.
</p>
<figure class="figure">
    <img src="{{ base_url() }}/img/help/forma_link.png" alt="Dokumenta - forma izmena">
    <figcaption class="figure-caption">Слика 10. Форма за везивање документа за друге категорије/линковање</figcaption>
</figure>
<p>
    Последњи корак у измени документа је клик на дугме <code>Постави линк</code> приказано на слици 11. Након овога ваш документ ће бити везан за додатну категорију уз поруку "Линковање документа у додатну категорију је успешно.". У супротном контактирајте администратора портала.
</p>
<figure class="figure">
    <img src="{{ base_url() }}/img/help/link.png" alt="Link">
    <figcaption class="figure-caption">Слика 11. Дугме постави линк</figcaption>
</figure>
<hr>
<h3 id="brisanje">Брисање документа</h3>
<p>
    Брисању документа се приступа са почетне листе докумената. Са десне стране, испод сваког од објављених докумената се налази линија алата као што је то приказано на слици 12. Дугме <code>Преглед</code> је доступно свима. <code>Линковање/повезивање</code> је доступан за све улоговане ауторе и на свим документима. Остали алати, између осталих и <code>Брисање документа</code> су доступни ауторима само за категорије за које су задужени.
</p>
<figure class="figure">
    <img src="{{ base_url() }}/img/help/dokumenta_brisanje.png" alt="Dokumenta - brisanje">
    <figcaption class="figure-caption">Слика 12. Линија алата са дугметом Брисање документа</figcaption>
</figure>
<p>
    Након клика на дугме <code>Брисање документа</code> ауторима ће бити модал за потврду брисања документа приказан на слици 13.
</p>
<figure class="figure">
    <img src="{{ base_url() }}/img/help/modal_brisi.png" alt="Dokumenta - modal za brisanje">
    <figcaption class="figure-caption">Слика 13. Модал за потврду бисања документа</figcaption>
</figure>
<p>
    Последњи корак у измени документа је клик на дугме <code>Обриши</code> приказано на слици 14. Након овога ваш документ ће бити обрисан уз поруку "Докуменат је успешно обрисан.". У супротном контактирајте администратора портала.
</p>
<figure class="figure">
    <img src="{{ base_url() }}/img/help/brisi.png" alt="Brisi">
    <figcaption class="figure-caption">Слика 14. Дугме обриши</figcaption>
</figure>
<hr>
<h3 id="arhiviranje">Архивирање/активирање документа</h3>
<p>
    Архивирању/активирању документа се приступа са почетне листе докумената. Са десне стране, испод сваког од објављених докумената се налази линија алата као што је то приказано на слици 15. Дугме <code>Преглед</code> је доступно свима. <code>Линковање/повезивање</code> је доступан за све улоговане ауторе и на свим документима. Остали алати, између осталих и <code>Архивирање/активирање документа</code> су доступни ауторима само за категорије за које су задужени.
</p>
<figure class="figure">
    <img src="{{ base_url() }}/img/help/dokumenta_arhiviranje.png" alt="Dokumenta - arhiviranje">
    <figcaption class="figure-caption">Слика 15. Линија алата са дугметом Архивирање/активирање документа</figcaption>
</figure>
<p>
    Након клика на дугме <code>Архивирање/активирање документа</code> аутори ће бити одведени на једноставну форму за архивирање/активирање документа која је приказана на слици 16.
</p>
<figure class="figure">
    <img src="{{ base_url() }}/img/help/forma_arhiviranje.png" alt="Dokumenta - forma za arhiviranje/aktiviranje">
    <figcaption class="figure-caption">Слика 16. Форма за архивирање/активирање документа</figcaption>
</figure>
<p>
    Последњи корак у поступку архивирања/активирања документа је клик на дугме <code>Архивирај/активирај</code> приказано на слици 17. Након овога ваш документ ће бити послат у супротно стање оном у коме се тренутно налази уз поруку "Докуменат је успешно архивирн/активиран.". У супротном контактирајте администратора портала.
</p>
<p class="text-warning">
    * Напомена: У случају да је документ линкован у више категорија сви ће бити архивирани/активирани вашом акцијом истовремено.
</p>
<figure class="figure">
    <img src="{{ base_url() }}/img/help/arhiviraj.png" alt="Arhiviranje/aktiviranje">
    <figcaption class="figure-caption">Слика 17. Дугме Архивирај/активирај</figcaption>
</figure>
<p>
    Обзиром да аутори портала немају право да утичу на категорије обратите се администратору портала да вам у категорији у којој је документ био пре архивирања направи поткатегорију архива у коју ћете због боље организације докумената пребацити документ кроз процес <a href="#izmena">Измене података документа</a>.
</p>
<hr>
<h2 class="text-primary"><i class="fas fa-thumbs-up"></i> Пуно успеха у раду Вам жели развојни тим и администратор ИНФО ПОРТАЛА!</h2>
<br>
<br>
<br>
<br>
{% endblock sadrzaj %}

{% block traka %}
<div class="row mt-5 mb-4">
    <div class="col col-lg-12 pl-5">
        <h4>Доступна упутства за ауторе</h4>
    <ul class="list-group">
        <li class="list-group-item list-group-item-secondary"><a href="{{ path_for('uputstvo') }}">Упутство за ауторе секције ДОКУМЕНТА градског портала</a></li>
         <li class="list-group-item list-group-item-secondary"><a href="">Упутство за ауторе секције НОВОСТИ градског портала</a></li>
    </ul>
    </div>
</div>
<div class="row mt-5 mb-4 sticky-top">
    <div class="col col-lg-12 pl-5">
    <ul class="list-group">
        <li class="list-group-item"><a href="#otpremanje">Отпремање/објављивање документа</a></li>
        <li class="list-group-item"><a href="#izmena">Измена података документа</a></li>
        <li class="list-group-item"><a href="#link">Линковање/повезивање</a></li>
        <li class="list-group-item"><a href="#brisanje">Брисање документа</a></li>
        <li class="list-group-item"><a href="#arhiviranje">Архивирање документа</a></li>
        <li class="list-group-item"><a href="#top"><i class="fas fa-arrow-circle-up"></i> Врх стране</a></li>
    </ul>
    </div>
</div>
{% endblock traka %}