{% extends "templates/app.twig" %}
{% block naslov %}
<div class="row">
    <div class="col-lg-6">
        <h1 class="display-3">Избор доступних садржаја</h1>
    </div>
    <div class="col-lg-6 text-right">
        <h4><img class="img-fluid" src="{{ base_url() }}/img/orao.png" alt="Grad Kragujevac - portal"></h4>
    </div>
</div>
<div class="card-deck mt-5">
    <div class="card">
        <img src="{{ base_url() }}/img/dok.png" class="card-img-top mx-auto d-block" alt="..." style="max-width: 200px;
  width:100%;">
        <div class="card-body">
            <h5 class="card-title">Документа <small>({{ brojClanaka }})</small></h5>
            <p class="card-text">Преглед листе сачуваних документа.</p>
        </div>
        <div class="card-footer">
            <blockquote class="blockquote text-right">
                <a href="">Преглед <i class="fas fa-chevron-right"></i></a>
                <footer class="blockquote-footer">Последње постављање: <cite title="Последња објава">{{ poslednjaObjavaClanak|date('d.m.Y H:m') }}</cite></footer>
            </blockquote>
        </div>
    </div>
    <div class="card">
        <img src="{{ base_url() }}/img/clanak.png" class="card-img-top mx-auto d-block" alt="..." style="max-width: 200px;
  width:100%;">
        <div class="card-body">
            <h5 class="card-title">Чланци <small>({{ brojClanaka }})</small></h5>
            <p class="card-text">Преглед објављених чланака.</p>
        </div>
        <div class="card-footer">
            <blockquote class="blockquote text-right">
                <a href="{{ path_for('clanci.lista') }}">Преглед <i class="fas fa-chevron-right"></i></a>
                <footer class="blockquote-footer">Последња објава: <cite title="Последња објава">{{ poslednjaObjavaClanak|date('d.m.Y H:m') }}</cite></footer>
            </blockquote>
        </div>
    </div>
    <div class="card">
        <img src="{{ base_url() }}/img/Phone.png" class="card-img-top mx-auto d-block" alt="..." style="max-width: 200px;
  width:100%;">
        <div class="card-body">
            <h5 class="card-title">Именик Градске управе у Крагујевцу</h5>
            <p class="card-text">Претрага по имену и презимену, броју канцеларије ...</p>
        </div>
        <div class="card-footer">
            <blockquote class="blockquote text-right">
                <a href="http://it.kg.grad/imenik">Преглед <i class="fas fa-chevron-right"></i></a>
                <footer class="blockquote-footer">Последње ажурирање: <cite title="Последња објава">пре 3 минута</cite></footer>
            </blockquote>
        </div>
    </div>
</div>
{% endblock naslov %}