{% extends "templates/app.twig" %}
{% block naslov %}
	<div class="row mt-5">
		<div class="col text-center">
			<h4>НЕКИ НАСЛОВ, ГРБ, ПТИЦА ГРАБЉИВИЦА</h4>
			<hr>
		</div>
	</div>

{% endblock naslov %}
{% block sadrzaj %}
<div class="row mb-5 mt-3">
  <div class="col">
    <h2 class="text-primary">Последњи објављени чланак</h2>
  </div>
</div>
<div class="jumbotron">
  <h1 class="display-4">{{ clanak[0].naslov }}</h1>
  <p class="lead">{{ clanak[0].rezime }}</p>
  <hr class="my-4">
  <p>{{ clanak[0].clanak|length < 410 ? clanak[0].clanak : clanak[0].clanak|slice(0, 400) ~ '...'}}</p>
  <div class="col text-right">
      <a class="btn btn-primary" href="{{path_for('clanci.pregled', { id: clanak[0].id })}}" role="button">Прочитај цео чланак</a>
  </div>
</div>
{% endblock sadrzaj %}
{% block traka %}
<h4>Категорије</h4>
<div class="list-group">
  {% for kat in kategorije %}
 <li class="list-group-item d-flex justify-content-between align-items-center py-2">
    <a href="{{ path_for('clanci.lista', { id: kat.id }) }}">{{ kat.naziv }}</a>
    <span class="badge badge-primary badge-pill">{{ kat.broj_kategorije() }}</span>
  </li>
  {% endfor %}
</div>
{% endblock traka %}
{% block skripta %}
<script>
  $(document).ready(function () {

});
</script>
{% endblock skripta %}